@page "/layout"
@inject NavigationManager NavigationManager

<div class="layout-container row">
    <div class="group_2 column">
        <div class="group column"></div>
    </div>
    <div class="group_1 column">
        <IgbButton Variant="ButtonVariant.Contained" class="button" layout-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbCheckbox class="checkbox" layout-scope>Label</IgbCheckbox>
    </div>
</div>

@code {
}
