@page "/view-2"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<div class="view-2-container row">
    <IgbDataGrid DataSource="northwindCategories" AutoGenerateColumns="false" Density="ControlDisplayDensity.Cosy" SelectionMode="GridSelectionMode.None" Width="800px" Height="400px" DefaultColumnMinWidth="136" class="grid" view-2-scope>
        <IgbNumericColumn HeaderText="categoryID" Field="CategoryID" IsFilteringEnabled="true"></IgbNumericColumn>
        <IgbTextColumn HeaderText="description" Field="Description" IsFilteringEnabled="true"></IgbTextColumn>
        <IgbTextColumn HeaderText="name" Field="Name" IsFilteringEnabled="true"></IgbTextColumn>
    </IgbDataGrid>
</div>

@code {
    private Northwind.CategoriesType[] northwindCategories = Array.Empty<Northwind.CategoriesType>();

    protected override async Task OnInitializedAsync()
    {
        northwindCategories = await HttpClient.GetFromJsonAsync<Northwind.CategoriesType[]>("static-data/northwind-categories.json") ?? northwindCategories;
    }
}
